-- ============================================
-- Dhanwantari Seed Data (Final Version - Expanded)
-- Version: 2.0
-- Date: 2026-01-24
-- Description: Comprehensive seed data with multiple doctors and patients
-- ============================================

USE dhanwantari;

-- ============================================
-- 1. ADMIN USER
-- ============================================
-- Email: admin@dhanwantari.com / Password: Admin@123
INSERT INTO users (id, email, password_hash, role, status, email_verified, created_at)
VALUES (
    'admin_001', 'admin@dhanwantari.com', '$2b$12$RPSKFWZz8Ff4Rns2MmXwDuWHWHuhCRhVuPYvKsjXqgEtVjAPHQeGy', 'admin', 'active', TRUE, NOW()
) ON DUPLICATE KEY UPDATE id=id;

-- ============================================
-- 2. DOCTORS (Password: Doctor@123 for all)
-- Hash: $2b$12$gwciOoptPukl1MORDEStveDg5/zy50XFyuud8OB2mHdqmo7h5RvBS
-- ============================================

-- Dr. Rajesh Kumar (Verified)
INSERT INTO users (id, email, password_hash, role, status, email_verified, created_at) VALUES ('doctor_001', 'doctor@dhanwantari.com', '$2b$12$gwciOoptPukl1MORDEStveDg5/zy50XFyuud8OB2mHdqmo7h5RvBS', 'doctor', 'active', TRUE, NOW()) ON DUPLICATE KEY UPDATE id=id;
INSERT INTO doctor_profiles (user_id, full_name, registration_number, registration_authority, qualification, specialization, experience_years, clinic_name, clinic_address, verified, verified_at, bio) 
VALUES ('doctor_001', 'Dr. Rajesh Kumar', 'BHMS-2024-001', 'Central Council', 'BHMS, MD', 'Classical Homeopathy', 10, 'Healing Touch Clinic', 'Bangalore', TRUE, NOW(), 'Expert in chronic ailments.') ON DUPLICATE KEY UPDATE user_id=user_id;

-- Dr. Sarah Wilson (Verified)
INSERT INTO users (id, email, password_hash, role, status, email_verified, created_at) VALUES ('doctor_002', 'sarah.who@dhanwantari.com', '$2b$12$gwciOoptPukl1MORDEStveDg5/zy50XFyuud8OB2mHdqmo7h5RvBS', 'doctor', 'active', TRUE, DATE_SUB(NOW(), INTERVAL 5 DAY)) ON DUPLICATE KEY UPDATE id=id;
INSERT INTO doctor_profiles (user_id, full_name, registration_number, registration_authority, qualification, specialization, experience_years, clinic_name, clinic_address, verified, verified_at, bio) 
VALUES ('doctor_002', 'Dr. Sarah Wilson', 'BHMS-2019-882', 'UK Homeopathy Board', 'DIHom', 'Pediatric Homeopathy', 8, 'Little Steps Clinic', 'London, UK', TRUE, NOW(), 'Specializing in child healthcare and immunity.') ON DUPLICATE KEY UPDATE user_id=user_id;

-- Dr. Amit Patel (Pending)
INSERT INTO doctor_profiles (user_id, full_name, registration_number, registration_authority, qualification, specialization, experience_years, clinic_name, clinic_address, verified, verified_at) 
VALUES ('doctor_003', 'Dr. Amit Patel', 'BHMS-2023-112', 'Maharashtra Council', 'BHMS', 'General Practice', 2, 'Patel Homeo Care', 'Mumbai', FALSE, NULL) ON DUPLICATE KEY UPDATE user_id=user_id;

-- Dr. Priya Sharma (Verified)

-- Dr. James Anderson (Pending)

-- Dr. Anjali Gupta (Verified)

-- ============================================
-- 3. PATIENTS (Password: Patient@123 for all)
-- Hash: $2b$12$S8.kzy7/UGt4d1cx/b9UR..TJqiAPTIBvcFJKZEb07Owowka.Qty2
-- ============================================

-- John Doe
INSERT INTO patient_profiles (user_id, full_name, date_of_birth, gender, blood_group, height_cm, weight_kg, allergies, chronic_conditions, preferred_language) 
VALUES ('patient_001', 'John Doe', '1990-01-15', 'male', 'O+', 175, 70, JSON_ARRAY('Pollen'), JSON_ARRAY('Migraine'), 'en') ON DUPLICATE KEY UPDATE user_id=user_id;

-- Sarah Smith
INSERT INTO patient_profiles (user_id, full_name, date_of_birth, gender, blood_group, height_cm, weight_kg, chronic_conditions, preferred_language) 
VALUES ('patient_002', 'Sarah Smith', '1985-06-20', 'female', 'A+', 165, 60, JSON_ARRAY('Asthma'), 'en') ON DUPLICATE KEY UPDATE user_id=user_id;

-- Michael Brown
INSERT INTO patient_profiles (user_id, full_name, date_of_birth, gender, blood_group, height_cm, weight_kg, preferred_language) 
VALUES ('patient_003', 'Michael Brown', '1978-03-12', 'male', 'B+', 180, 85, 'en') ON DUPLICATE KEY UPDATE user_id=user_id;

-- Lisa Davis

-- Robert Wilson

-- Jennifer Taylor

-- William Anderson

-- ============================================
-- 4. VERIFICATION OUTPUT
-- ============================================

SELECT 
    '=== SEED DATA SUMMARY ===' as info,
    (SELECT COUNT(*) FROM users) as total_users,
    (SELECT COUNT(*) FROM users WHERE role='doctor') as doctors,
    (SELECT COUNT(*) FROM users WHERE role='patient') as patients,
    (SELECT COUNT(*) FROM users WHERE role='doctor' AND status='pending') as pending_doctors;
